.latest-data-card {
  margin-bottom: 20px;
}

.latest-data-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.data-label {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.data-timestamp {
  font-size: 14px;
  color: #7A7671;
}

.reload-icon {
  font-size: 20px;
  color: #7A7671;
}

.reload-icon:hover {
  transform: scale(1.2);
}

.waste-category-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 437px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.waste-category-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.waste-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.waste-item {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: flex-end;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: relative;
}

.waste-item-name-panel {
  display: flex;  
  align-self: flex-start;
  gap: 5px;
}

.waste-item-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.waste-item-name-icon {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.waste-item-value {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.waste-item-percentage {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

.waste-item-percentage-unit {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 2px;
}

.waste-item-tooltip {
  position: absolute;
  bottom: 80px; 
  left: 50%;
  transform: translateX(-50%);
  background:#000000;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 6px 6px;
  z-index: 9999; /* ピンの下、背景の上 */
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  white-space: nowrap;
  pointer-events: auto;
}

.status-green {
  color: #ffffff;
  background-color: #4CAF50;
}

.status-orange {
  color: #ffffff;
  background-color: #FF9F40;
}

.status-red {
  color: #ffffff;
  background-color: #F62C2C;
}

.status-gray {
  color: #ffffff;
  background-color: #C9CBCF;
}

.product-card {
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.product-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: flex-end;
  padding: 8px;
  border-radius: 4px;
  align-items: center;
}

.product-icon {
  font-size: 70px;
  color: #ffffff;
}

.product-weight {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.weight-value {
  font-size: 40px;
  font-weight: 400;
  color: #2c3e50;
  color: #ffffff;
}

.weight-unit {
  font-size: 14px;
  color: #666;
  color: #ffffff;
}

.factory-map-card {
  margin-top: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-top: 60%;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.map-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.map-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-marker-icon {
  font-size: 32px;
  color: #36A2EB;
}

.map-marker-icon svg {
  filter:
    drop-shadow(3px 0 0 #ffffff)
    drop-shadow(-3px 0 0 #ffffff)
    drop-shadow(0 3px 0 #ffffff)
    drop-shadow(0 -3px 0 #ffffff);
}

.map-marker:hover {
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 9999;
}

.marker-label {
  margin-top: 4px;
  font-size: 16px;
  color: #36A2EB;
  text-align: center;
  -webkit-text-stroke: 10px #ffffff;
  stroke: #36A2EB;
  paint-order: stroke;
}

.marker-multi-label {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.marker-sub-label {
  margin-top: 4px;
  font-size: 16px;
  color: #36A2EB;
  text-align: center;
  -webkit-text-stroke: 10px #ffffff;
  stroke: #36A2EB;
  paint-order: stroke;
}

.marker-modal {
  position: absolute;
  bottom: 115px; /* ピンの上側に配置（調整できる） */
  left: 50%;
  transform: translateX(-50%);
  background:#000000;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 6px 6px;
  z-index: 9999; /* ピンの下、背景の上 */
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  white-space: nowrap;
  pointer-events: auto;
}

.modal-item {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  display: flex;
}

.modal-item:hover {
  background: #2e2e2e;
  font-weight: 600;
  border-radius: 4px;
}

/* モーダル吹き出しの三角形部分 */
.marker-modal::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
  filter: drop-shadow(0px -1px 1px rgba(0,0,0,0.1));
}